(
    id: "medical_doctor",
    name: "Medical Doctor",
    description: "Heals crewmembers. May break the hippocratic oath from time to time.",
    clothing: [
        "assistant_jumpsuit",
        "gray_backpack",
    ]
)
