(
    entities: {
        0: (
            components: {
                "bevy_transform::components::transform::Transform": (
                ),
                "networking::transform::NetworkTransform": (
                ),
                "bevy_asset::handle::Handle<bevy_render::mesh::mesh::Mesh>": (
                    id: "models/items/health scanner.glb#Mesh0/Primitive0"
                ),
                "ssnt::items::Item": (
                    name: "Portable Health Scanner"
                ),
                "ssnt::body::health::scanner::HealthScanner": (
                    update_frequency: 1.0
                ),
                "physics::RigidBody": (
                    kind: Dynamic
                ),
                "bevy_hierarchy::components::children::Children": ([(index: 1, generation: 0)]),
            }
        ),
        1: (
            components: {
                "bevy_hierarchy::components::parent::Parent": (
                    ( index: 0, generation: 0 )
                ),
                "bevy_transform::components::transform::Transform": (
                    translation: (
                        x: 0.0,
                        y: 0.0,
                        z: 0.0,
                    ),
                ),
                "physics::Collider": (
                    kind: Cuboid (hx: 0.25, hy: 0.03, hz: 0.15)
                )
            }
        )
    }
)
