(
    entities: {
        0: (
            components: {
                "ssnt::body::health::OrganicBodyPart": (
                    oxygen_capacity: 0.0064,
                ),
                "ssnt::body::health::OrganicBrain": (
                ),
            }
        )
    }
)
