(
    entities: {
        0: (
            components: {
                "ssnt::body::health::OrganicBodyPart": (
                    oxygen_capacity: 0.0015,
                ),
                "ssnt::body::health::OrganicHeart": (
                ),
            }
        )
    }
)
