(
    entities: {
        0: (
            components: {
                "bevy_transform::components::transform::Transform": (
                ),
                "bevy_asset::handle::Handle<bevy_render::mesh::mesh::Mesh>": (
                    id: "models/tilemap/floors.glb#Mesh2/Primitive0"
                )
            }
        )
    }
)
