(
    entities: {
        0: (
            components: {
                "bevy_transform::components::transform::Transform": (
                ),
                "bevy_asset::handle::Handle<bevy_render::mesh::mesh::Mesh>": (
                    id: "models/tilemap/walls windows.glb#Mesh39/Primitive0"
                ),
                "maps::adjacency::TilemapAdjacency": (
                    category: "wall",
                    meshes: (
                        default: ( id: "models/tilemap/walls windows.glb#Mesh39/Primitive0" ),
                        o: ( id: "models/tilemap/walls windows.glb#Mesh39/Primitive0" ),
                        u: ( id: "models/tilemap/walls windows.glb#Mesh40/Primitive0" ),
                        i: ( id: "models/tilemap/walls windows.glb#Mesh41/Primitive0" ),
                        l: ( id: "models/tilemap/walls windows.glb#Mesh36/Primitive0" ),
                        t: ( id: "models/tilemap/walls windows.glb#Mesh37/Primitive0" ),
                        x: ( id: "models/tilemap/walls windows.glb#Mesh38/Primitive0" )
                    )
                ),
                "bevy_hierarchy::components::children::Children": ([(index: 1, generation: 0)]),
            }
        ),
        1: (
            components: {
                "bevy_hierarchy::components::parent::Parent": (
                    ( index: 0, generation: 0 )
                ),
                "bevy_transform::components::transform::Transform": (
                    translation: (
                        x: 0.0,
                        y: 1.0,
                        z: 0.0,
                    ),
                ),
                "physics::Collider": (
                    kind: Cuboid (hx: 0.5, hy: 1.0, hz: 0.5)
                )
            }
        )
    }
)
