(
    name: "French",
    description: "French accent",
    body: (
        accent: {
            "main": (
                format: r"\b{}\b",
                rules: {
                    "a": {"Any": [
                        {"Literal": "un"},
                        {"Literal": "une"},
                    ]},
                    "am": {"Literal": "suis"},
                    "and": {"Literal": "et"},
                    "the": {"Any": [
                        {"Literal": "les"},
                        {"Literal": "la"},
                        {"Literal": "le"},
                    ]},
                    "for": {"Literal": "pour"},
                    "of": {"Literal": "de"},
                    "my": {"Any": [
                        {"Literal": "mon"},
                        {"Literal": "ma"},
                    ]},
                    "very": {"Literal": "très"},
                    "want": {"Literal": "vouloir"},
                    "with": {"Literal": "avec"},
                    "i'?m": {"Literal": "je suis"},
                    "i": {"Literal": "je"},
                    "good": {"Literal": "bon"},
                    "bad": {"Literal": "mal"},
                    "spicy": {"Any": [
                        {"Literal": "épicé"},
                        {"Literal": "épicée"},
                    ]},
                    "yes": {"Literal": "oui"},
                    "no": {"Literal": "non"},
                    "why": {"Literal": "pourquoi"},
                    "what'?s": {"Literal": "quel est"},
                    "who'?s": {"Literal": "qui est"},
                    "hello": {"Any": [
                        {"Literal": "'allô"},
                        {"Literal": "bonjour"},
                        {"Literal": "salut"},
                    ]},
                    "bye": {"Any": [
                        {"Literal": "bon voyage"},
                        {"Literal": "adieu"},
                        {"Literal": "au revoir"},
                    ]},
                    "thanks": {"Literal": "merci"},
                    "assistant": {"Literal": "ravageur"},
                    "assistants": {"Literal": "ravageurs"},
                    "captain": {"Literal": "capitaine"},
                    "cook": {"Any": [
                        {"Literal": "cuisinier"},
                        {"Literal": "cuisinière"},
                    ]},
                    "enemy": {"Any": [
                        {"Literal": "silly english dog"},
                        {"Literal": "ennemi"},
                        {"Literal": "ennemie"},
                    ]},
                    "friend": {"Literal": "ami"},
                    "friends": {"Literal": "amis"},
                    "greytider?": {"Literal": "gitans"},
                    "changeling": {"Literal": "changeur"},
                    "wizard": {"Literal": "sorcier"},
                    "(?:op|operative)": {"Literal": "boche"},
                    "(?:op|operative)s": {"Literal": "boches"},
                    "cheese": {"Any": [
                        {"Literal": "brie"},
                        {"Literal": "roquefort"},
                        {"Literal": "camembert"},
                    ]},
                    "bread": {"Literal": "baguette"},
                    "tomato": {"Literal": "tomate"},
                    "wine": {"Literal": "vin"},
                    "traitor": {"Literal": "traitre"},
                    "maint": {"Literal": "banlieues"},
                    "nuke": {"Any": [
                        {"Literal": "grand bombe"},
                        {"Literal": "la baguette ultime"},
                    ]},
                    "shit": {"Literal": "merde"},
                    "urity": {"Literal": "urite"},
                    "security": {"Literal": "securite"},
                    "shitsec": {"Any": [
                        {"Literal": "gendarmerie"},
                        {"Literal": "keufs"},
                    ]},
                },
            ),
        },
    ),
)
