(
    name: "linux",
    description: "OwO speak",
    rules: (
        patterns: [
            ("(?i)[rlv]", Simple("w")),
            ("ove", Simple("uv")),
            ("ni", Simple("nye")),
            ("na", Simple("nya")),
            ("no", Simple("nyo")),
            ("ne", Simple("nye")),
            ("nu", Simple("nyu")),
            ("!", Simple("! owo")),
            // 10% for prefix
            ("^", Weights([
                (1, Any([
                    Simple("!!! "),
                    Simple("(=^‥^=) "),
                    Simple("~~ "),
                    Simple("🐾 "),
                    Simple("ヾ(=｀ω´=)ノ” "),
                    Simple(":3 "),
                    Simple("ama "),
                    Simple("baka "),
                    Simple("boop "),
                    Simple("burunya "),
                    Simple("chan "),
                    Simple("chuu "),
                    Simple("desu "),
                    Simple("doki "),
                    Simple("domo "),
                    Simple("etto "),
                    Simple("fuwa "),
                    Simple("gato "),
                    Simple("heto "),
                    Simple("hewo "),
                    Simple("icha "),
                    Simple("ira "),
                    Simple("kawaii "),
                    Simple("kis "),
                    Simple("kit "),
                    Simple("kun "),
                    Simple("kusu "),
                    Simple("kyaa "),
                    Simple("kyun "),
                    Simple("mahou "),
                    Simple("mimi "),
                    Simple("moe "),
                    Simple("mofu "),
                    Simple("munya "),
                    Simple("munyu "),
                    Simple("neko "),
                    Simple("nya "),
                    Simple("Nya "),
                    Simple("nyaa "),
                    Simple("nyan "),
                    Simple("ori "),
                    Simple("owo "),
                    Simple("OwO "),
                    Simple("poka "),
                    Simple("puni "),
                    Simple("puru "),
                    Simple("san "),
                    Simple("shiku "),
                    Simple("sou "),
                    Simple("suki "),
                    Simple("sune "),
                    Simple("ufufu "),
                    Simple("uhuhu "),
                    Simple("usagi "),
                    Simple("uwa "),
                    Simple(">w< "),
                    Simple("^w^" ),
                    Simple("*wings tail* "),
                    Simple("yatta "),
                    Simple("yori "),
                    Simple("zaazaa "),
                    Simple("(=；ｪ；=) "),
                ])),
                (9, Noop),
            ])),
            // 80% for ending
            ("$", Weights([
                (8, Any([
                    Simple(" !!!"),
                    Simple(" (=^‥^=)"),
                    Simple(" ~~"),
                    Simple(" 🐾"),
                    Simple(" ヾ(=｀ω´=)ノ”"),
                    Simple(" :3"),
                    Simple(" ama"),
                    Simple(" baka"),
                    Simple(" boop"),
                    Simple(" burunya"),
                    Simple(" chan"),
                    Simple(" chuu"),
                    Simple(" desu"),
                    Simple(" doki"),
                    Simple(" domo"),
                    Simple(" etto"),
                    Simple(" fuwa"),
                    Simple(" gato"),
                    Simple(" heto"),
                    Simple(" hewo"),
                    Simple(" icha"),
                    Simple(" ira"),
                    Simple(" kawaii"),
                    Simple(" kis"),
                    Simple(" kit"),
                    Simple(" kun"),
                    Simple(" kusu"),
                    Simple(" kyaa"),
                    Simple(" kyun"),
                    Simple(" mahou"),
                    Simple(" mimi"),
                    Simple(" moe"),
                    Simple(" mofu"),
                    Simple(" munya"),
                    Simple(" munyu"),
                    Simple(" neko"),
                    Simple(" nya"),
                    Simple(" Nya"),
                    Simple(" nyaa"),
                    Simple(" nyan"),
                    Simple(" ori"),
                    Simple(" owo"),
                    Simple(" OwO"),
                    Simple(" poka"),
                    Simple(" puni"),
                    Simple(" puru"),
                    Simple(" san"),
                    Simple(" shiku"),
                    Simple(" sou"),
                    Simple(" suki"),
                    Simple(" sune"),
                    Simple(" ufufu"),
                    Simple(" uhuhu"),
                    Simple(" usagi"),
                    Simple(" uwa"),
                    Simple(" >w<"),
                    Simple(" ^w^" ),
                    Simple(" *wings tail*"),
                    Simple(" yatta"),
                    Simple(" yori"),
                    Simple(" zaazaa"),
                    Simple(" (=；ｪ；=)"),
                ])),
                (2, Noop),
            ])),
        ],
    ),
)
