(
    name: "scotsman",
    words: [
        ("above", Simple("`boon")),
        ("across", Simple("o`er")),
        ("after", Simple("efter")),
        ("agree", Simple("gree")),
        ("all", Simple("aw")),
        ("almost", Simple("a`maist")),
        ("along", Simple("alang")),
        ("already", Simple("awready")),
        ("also", Simple("an` a`")),
        ("and", Simple("`n`")),
        ("another", Simple("anither")),
        ("any", Simple("ony")),
        ("anyone", Simple("a`body")),
        ("anybody", Simple("a`body")),
        ("anything", Simple("anythin`")),
        ("arrested", Simple("liftit")),
        ("arrest", Simple("lift")),
        ("arrests", Simple("lifts")),
        ("argues", Simple("argies")),
        ("argued", Simple("argied")),
        ("argue", Simple("argie")),
        ("available", Simple("free")),
        ("avoiding", Simple("jookin")),
        ("avoided", Simple("jooked")),
        ("avoid", Simple("jook")),
        ("ask", Simple("spir")),
        ("assistant", Simple("servand")),
        ("assistants", Simple("servands")),
        ("asking", Simple("spirin")),
        ("asked", Simple("spire'd")),
        ("away", Simple("awa`")),
        ("babies", Simple("bairns")),
        ("baby", Simple("bairn")),
        ("bad", Simple("ill")),
        ("balls", Simple("baws")),
        ("ball", Simple("baw")),
        ("bars", Simple("boozers")),
        ("bar", Simple("boozer")),
        ("been", Simple("buin")),
        ("beautiful", Simple("bonny")),
        ("because", Simple("fur")),
        ("breakdown", Simple("breakdoon")),
        ("nap", Simple("kip")),
        ("napping", Simple("kipin'")),
        ("before", Simple("afore")),
        ("believes", Simple("hawps")),
        ("believing", Simple("hawpin")),
        ("believe", Simple("hawp")),
        ("between", Simple("atween")),
        ("boards", Simple("boords")),
        ("board", Simple("boord")),
        ("both", Simple("baith")),
        ("boxes", Simple("kists")),
        ("box", Simple("kist")),
        ("boy", Simple("laddie")),
        ("brother", Simple("brither")),
        ("brothers", Simple("brithers")),
        ("but", Simple("bit")),
        ("bitch", Simple("cunt")),
        ("captain", Simple("caiptain")),
        ("cap", Simple("caip")),
        ("calling", Simple("ca`ing")),
        ("called", Simple("cawed")),
        ("call", Simple("caw")),
        ("cars", Simple("motors")),
        ("car", Simple("motor")),
        ("cared", Simple("car'd")),
        ("cards", Simple("cairds")),
        ("card", Simple("caird")),
        ("careers", Simple("joabs")),
        ("career", Simple("joab")),
        ("cargo", Simple("cargae")),
        ("century", Simple("hunner years")),
        ("changed", Simple("chaynged")),
        ("change", Simple("chaynge")),
        ("chaplain", Simple("priestheid")),
        ("chief", Simple("heid")),
        ("child", Simple("wee'un")),
        ("childeren", Simple("wee'uns")),
        ("choosing", Simple("walin")),
        ("choose", Simple("wale")),
        ("churches", Simple("kirks")),
        ("church", Simple("kirk")),
        ("city", Simple("toon")),
        ("cities", Simple("toons")),
        ("closer", Simple("claiser")),
        ("closest", Simple("claisest")),
        ("close", Simple("claise")),
        ("coats", Simple("coaties")),
        ("coat", Simple("coatie")),
        ("coldest", Simple("cauldest")),
        ("colder", Simple("caulder")),
        ("cold", Simple("cauld")),
        ("cooks", Simple("keuks")),
        ("cook", Simple("keuk")),
        ("consumer", Simple("punter")),
        ("consumers", Simple("punters")),
        ("could", Simple("cuid")),
        ("countries", Simple("lands")),
        ("country", Simple("land")),
        ("cultures", Simple("culchurs")),
        ("culture", Simple("culchur")),
        ("customer", Simple("punter")),
        ("customers", Simple("punters")),
        ("daddy", Simple("daddie")),
        ("dark", Simple("mirk")),
        ("dad", Simple("da")),
        ("dead", Simple("deid")),
        ("deaf", Simple("deav")),
        ("deafen", Simple("deave")),
        ("deafened", Simple("deaved")),
        ("debate", Simple("argie")),
        ("debating", Simple("argiein")),
        ("debates", Simple("argies")),
        ("degrees", Simple("grees")),
        ("degree", Simple("gree")),
        ("detectives", Simple("snoots")),
        ("detective", Simple("snoot")),
        ("difficult", Simple("pernicketie")),
        ("dinner", Simple("tea")),
        ("directors", Simple("guiders")),
        ("director", Simple("guider")),
        ("did", Simple("daed")),
        ("do", Simple("dae")),
        ("dogs", Simple("dugs")),
        ("dog", Simple("dug")),
        ("down", Simple("doon")),
        ("downricht", Simple("doun")),
        ("droped", Simple("draped")),
        ("drops", Simple("draps")),
        ("drop", Simple("drap")),
        ("drink", Simple("drappie")),
        ("drinking", Simple("swillin'")),
        ("drank", Simple("swilled")),
        ("drunk", Simple("fou")),
        ("during", Simple("while")),
        ("dying", Simple("deein'")),
        ("each", Simple("ilk")),
        ("early", Simple("earlie")),
        ("eating", Simple("slochin")),
        ("ate", Simple("sloched")),
        ("eat", Simple("sloch")),
        ("edges", Simple("lips")),
        ("edge", Simple("lip")),
        ("enjoys", Simple("gilravages")),
        ("enjoy", Simple("gilravage")),
        ("engineer", Simple("navvy")),
        ("engineering", Simple("ingineerin")),
        ("engineers", Simple("Navvies")),
        ("evenings", Simple("forenichts")),
        ("evening", Simple("forenicht")),
        ("every", Simple("ilka")),
        ("everybody", Simple("a`body")),
        ("everyone", Simple("a`body")),
        ("eye", Simple("ee")),
        ("eyes", Simple("e'ens")),
        ("face", Simple("physog")),
        ("famililies", Simple("fowks")),
        ("family", Simple("fowk")),
        ("fast", Simple("fleet")),
        ("fathers", Simple("faithers")),
        ("father", Simple("faither")),
        ("fight", Simple("rammy")),
        ("fighting", Simple("ramming")),
        ("fights", Simple("rammies")),
        ("films", Simple("pictures")),
        ("film", Simple("picture")),
        ("finding", Simple("fin`ing")),
        ("found", Simple("fund")),
        ("fine", Simple("braw")),
        ("floors", Simple("flairs")),
        ("floor", Simple("flair")),
        ("foods", Simple("fairns")),
        ("food", Simple("fairn")),
        ("for", Simple("fer")),
        ("forget", Simple("forgoat")),
        ("friends", Simple("mukkers")),
        ("friend", Simple("pal")),
        ("from", Simple("fae")),
        ("full", Simple("stowed oot")),
        ("games", Simple("gams")),
        ("game", Simple("gam")),
        ("gardens", Simple("back greens")),
        ("garden", Simple("back green")),
        ("get", Simple("git")),
        ("girl", Simple("lassie")),
        ("give", Simple("gie")),
        ("glasses", Simple("glesses")),
        ("glass", Simple("gless")),
        ("go", Simple("gae")),
        ("good", Simple("guid")),
        ("great", Simple("stoatin")),
        ("growing", Simple("grawing")),
        ("grown", Simple("grawn")),
        ("grow", Simple("graw")),
        ("glared", Simple("glower'd")),
        ("glaring", Simple("glowrin'")),
        ("guess", Simple("jalouse")),
        ("had", Simple("haed")),
        ("has", Simple("haes")),
        ("hadnt", Simple("haedna")),
        ("hadn't", Simple("haedna")),
        ("hairs", Simple("locks")),
        ("hair", Simple("locks")),
        ("halfs", Simple("haufs")),
        ("half", Simple("hauf")),
        ("hands", Simple("hauns")),
        ("hand", Simple("haun")),
        ("hangs", Simple("hings")),
        ("hanging", Simple("hinging")),
        ("hang", Simple("hing")),
        ("have", Simple("hae")),
        ("heads", Simple("heids")),
        ("head", Simple("heid")),
        ("hearts", Simple("herts")),
        ("heart", Simple("hert")),
        ("help", Simple("hulp")),
        ("here", Simple("`ere")),
        ("high", Simple("heich")),
        ("himself", Simple("his-sel")),
        ("holding", Simple("hauding")),
        ("hold", Simple("haud")),
        ("homes", Simple("hames")),
        ("home", Simple("hame")),
        ("hopes", Simple("hawps")),
        ("hope", Simple("hawp")),
        ("hoter", Simple("heter")),
        ("hotest", Simple("hetest")),
        ("hot", Simple("het")),
        ("hotels", Simple("change-hooses")),
        ("hotel", Simple("change-hoose")),
        ("husband", Simple("guidman")),
        ("images", Simple("photies")),
        ("image", Simple("photie")),
        ("imagine", Simple("jalouse")),
        ("including", Simple("anaw")),
        ("indicates", Simple("shows")),
        ("indicate", Simple("show")),
        ("informations", Simple("speirins")),
        ("information", Simple("speirins")),
        ("into", Simple("intae")),
        ("its", Simple("tis")),
        ("isn't", Simple("isna")),
        ("isnt", Simple("isna")),
        ("janitors", Simple("jannies")),
        ("janitor", Simple("jannie")),
        ("jobs", Simple("jabs")),
        ("joined", Simple("jyneed")),
        ("joins", Simple("jynes")),
        ("join", Simple("jyne")),
        ("just", Simple("juist")),
        ("kids", Simple("bairns")),
        ("kid", Simple("bairn")),
        ("kills", Simple("murdurrs")),
        ("killer", Simple("murdurrur")),
        ("killed", Simple("murdurred")),
        ("kill", Simple("murdurr")),
        ("kitchens", Simple("sculleries")),
        ("kitchen", Simple("scullery")),
        ("knows", Simple("kens")),
        ("know", Simple("ken")),
        ("known", Simple("kent")),
        ("languages", Simple("leids")),
        ("language", Simple("leid")),
        ("larger", Simple("lairger")),
        ("largest", Simple("lairgest")),
        ("large", Simple("lairge")),
        ("last", Simple("lest")),
        ("later", Simple("efter")),
        ("laughing", Simple("roarin")),
        ("laugh", Simple("roar")),
        ("lawyers", Simple("advocates")),
        ("lawyer", Simple("advocate")),
        ("lead", Simple("leid")),
        ("leading", Simple("leidin")),
        ("leaving", Simple("leaing")),
        ("leave", Simple("lea")),
        ("let", Simple("loot")),
        ("legs", Simple("shanks")),
        ("leg", Simple("shank")),
        ("devil", Simple("deuce")),
        ("devils", Simple("deuces")),
        ("lying", Simple("liein")),
        ("like", Simple("lik`")),
        ("likely", Simple("likelie")),
        ("little", Simple("wee")),
        ("longer", Simple("langer")),
        ("longest", Simple("langest")),
        ("long", Simple("lang")),
        ("looking", Simple("keeking")),
        ("looked", Simple("keeked")),
        ("look", Simple("keek")),
        ("loved", Simple("loued")),
        ("loving", Simple("louing")),
        ("love", Simple("loue")),
        ("makes", Simple("mak`s")),
        ("make", Simple("mak`")),
        ("men", Simple("jimmies")),
        ("manage", Simple("guide")),
        ("managers", Simple("high heid yins")),
        ("manager", Simple("high heid yin")),
        ("many", Simple("mony")),
        ("may", Simple("mey")),
        ("markets", Simple("merkats")),
        ("market", Simple("merkat")),
        ("marriages", Simple("mairriages")),
        ("marriage", Simple("mairriage")),
        ("matters", Simple("maiters")),
        ("matter", Simple("maiter")),
        ("maybe", Simple("mibbie")),
        ("meetings", Simple("meetins")),
        ("meeting", Simple("meetin")),
        ("methods", Simple("ways")),
        ("method", Simple("way")),
        ("might", Simple("micht")),
        ("mind", Simple("mynd")),
        ("miner", Simple("pickman")),
        ("miners", Simple("pickmen")),
        ("money", Simple("dosh")),
        ("months", Simple("munths")),
        ("month", Simple("munth")),
        ("more", Simple("mair")),
        ("mornings", Simple("mornin`s")),
        ("morning", Simple("mornin`")),
        ("most", Simple("maist")),
        ("mothers", Simple("mithers")),
        ("mother", Simple("mither")),
        ("mouths", Simple("geggies")),
        ("mouth", Simple("geggy")),
        ("moves", Simple("shifts")),
        ("move", Simple("shift")),
        ("much", Simple("muckle")),
        ("must", Simple("mist")),
        ("my", Simple("ma")),
        ("myself", Simple("masell")),
        ("nasty", Simple("mingin")),
        ("networks", Simple("netwurks")),
        ("network", Simple("netwurk")),
        ("never", Simple("ne`er")),
        ("new", Simple("freish")),
        ("news", Simple("speirins")),
        ("next", Simple("neist")),
        ("nice", Simple("crakin`")),
        ("nights", Simple("nichts")),
        ("night", Simple("nicht")),
        ("false", Any([
            Simple("na"),
            Simple("aff"),
        ])),
        ("not", Simple("nae")),
        ("nothing", Simple("neithin'")),
        ("numbers", Simple("nummers")),
        ("number", Simple("nummer")),
        ("of", Simple("o`")),
        ("offices", Simple("affices")),
        ("office", Simple("affice")),
        ("officers", Simple("boabies")),
        ("officer", Simple("boaby")),
        ("often", Simple("aften")),
        ("oh", Simple("och")),
        ("ok", Simple("a`richt")),
        ("old", Simple("auld")),
        ("oil", Simple("ile")),
        ("once", Simple("wance")),
        ("one", Simple("wan")),
        ("only", Simple("ainlie")),
        ("other", Simple("ither")),
        ("others", Simple("ithers")),
        ("outside", Simple("ootdoors")),
        ("over", Simple("ower")),
        ("owns", Simple("ains")),
        ("own", Simple("ain")),
        ("owners", Simple("gaffers")),
        ("owner", Simple("gaffer")),
        ("paintings", Simple("pentins")),
        ("painting", Simple("pentin")),
        ("parts", Simple("pairts")),
        ("part", Simple("pairt")),
        ("partners", Simple("bidies")),
        ("partner", Simple("bidie")),
        ("party", Simple("pairtie")),
        ("pass", Simple("bygae")),
        ("past", Simple("bygane")),
        ("peoples", Simple("fowks")),
        ("people", Simple("fowk")),
        ("perhaps", Simple("mibbie")),
        ("person", Simple("body")),
        ("phones", Simple("phanes")),
        ("phone", Simple("phane")),
        ("places", Simple("steids")),
        ("place", Simple("steid")),
        ("plays", Simple("speils")),
        ("play", Simple("speil")),
        ("police", Simple("polis")),
        ("poor", Simple("brassic")),
        ("popular", Simple("weel-kent")),
        ("problems", Simple("kinches")),
        ("problem", Simple("kinch")),
        ("professionals", Simple("perfaissionals")),
        ("professional", Simple("perfaissional")),
        ("programs", Simple("progrums")),
        ("program", Simple("progrum")),
        ("provides", Simple("gies")),
        ("provide", Simple("gie")),
        ("prison", Simple("preeson")),
        ("Imprisonment", Simple("impreesonment")),
        ("prisoner", Simple("preesoner")),
        ("put", Simple("pat")),
        ("questions", Simple("quaistions")),
        ("question", Simple("quaistion")),
        ("quite", Simple("ferr")),
        ("radios", Simple("trannies")),
        ("radio", Simple("tranny")),
        ("rather", Simple("ower")),
        ("ready", Simple("duin")),
        ("really", Simple("pure")),
        ("red", Simple("rid")),
        ("relationships", Simple("kinships")),
        ("relationship", Simple("kinship")),
        ("remember", Simple("mind")),
        ("remembered", Simple("minded")),
        ("rights", Simple("richts")),
        ("right", Simple("richt")),
        ("roles", Simple("parts")),
        ("role", Simple("part")),
        ("round", Simple("ruund")),
        ("same", Simple("identical")),
        ("schools", Simple("schuils")),
        ("school", Simple("schuil")),
        ("scores", Simple("hampden roars")),
        ("score", Simple("hampden roar")),
        ("scuffed", Simple("scotched")),
        ("seasons", Simple("seezins")),
        ("season", Simple("seezin")),
        ("security", Simple("polis")),
        ("seconds", Simple("seiconts")),
        ("second", Simple("seicont")),
        ("several", Simple("loads")),
        ("shaked", Simple("shoogled")),
        ("shakes", Simple("shoogles")),
        ("shake", Simple("shoogle")),
        ("should", Simple("shuid")),
        ("shows", Simple("shaws")),
        ("showed", Simple("shawed")),
        ("show", Simple("shaw")),
        ("since", Simple("sin")),
        ("small", Simple("wee")),
        ("spoke", Simple("spak")),
        ("so", Simple("sae")),
        ("soldiers", Simple("fighters")),
        ("soldier", Simple("fighter")),
        ("sometimes", Simple("whiles")),
        ("somewhat", Simple("somewhit")),
        ("sore", Simple("sair")),
        ("stands", Simple("stauns")),
        ("stand", Simple("staun")),
        ("stars", Simple("starns")),
        ("star", Simple("starn")),
        ("starts", Simple("stairts")),
        ("start", Simple("stairt")),
        ("stays", Simple("bides")),
        ("stay", Simple("bade")),
        ("stops", Simple("stoaps")),
        ("stop", Simple("stoap")),
        ("stores", Simple("hains")),
        ("store", Simple("hain")),
        ("struck", Simple("strak")),
        ("streets", Simple("wynds")),
        ("street", Simple("wynd")),
        ("strong", Simple("pure tough")),
        ("styles", Simple("pure classes")),
        ("style", Simple("pure class")),
        ("such", Simple("sic")),
        ("table", Simple("buird")),
        ("tables", Simple("buirds")),
        ("takes", Simple("tak`s")),
        ("take", Simple("tak`")),
        ("talks", Simple("blethers")),
        ("talk", Simple("blether")),
        ("tasks", Simple("hings")),
        ("task", Simple("hing")),
        ("teams", Simple("gangs")),
        ("team", Simple("gang")),
        ("televisions", Simple("tellyboxes")),
        ("television", Simple("tellybox")),
        ("terminal", Simple("terminus")),
        ("the", Simple("th`")),
        ("their", Simple("thair")),
        ("them", Simple("thaim")),
        ("there", Simple("thare")),
        ("these", Simple("thae")),
        ("they", Simple("thay")),
        ("things", Simple("hings")),
        ("thing", Simple("hing")),
        ("those", Simple("they")),
        ("through", Simple("thro`")),
        ("throughout", Simple("throo`oot")),
        ("to", Simple("tae")),
        ("today", Simple("th`day")),
        ("together", Simple("th`gither")),
        ("tonight", Simple("th`nicht")),
        ("too", Simple("tae")),
        ("told", Simple("telt")),
        ("tops", Simple("taps")),
        ("top", Simple("tap")),
        ("total", Simple("tot")),
        ("tough", Simple("hard")),
        ("traitors", Simple("quislings")),
        ("traitor", Any([
            Simple("quisling"),
            Simple("traitor"),
        ])),
        ("troubles", Simple("trauchles")),
        ("trouble", Simple("trauchle")),
        ("turds", Simple("jobbies")),
        ("turd", Simple("jobbie")),
        ("turn", Simple("caw")),
        ("tvs", Simple("tellies")),
        ("tv", Simple("telly")),
        ("two", Simple("twa")),
        ("understand", Simple("ken")),
        ("until", Simple("`til")),
        ("uses", Simple("uises")),
        ("use", Simple("uise")),
        ("usually", Simple("forordinar")),
        ("very", Simple("gey")),
        ("victims", Simple("sittin` ducks")),
        ("victim", Simple("sittin` duck")),
        ("views", Simple("sichts")),
        ("view", Simple("sicht")),
        ("was", Simple("wis")),
        ("wasn't", Simple("wisna")),
        ("wasnt", Simple("wisna")),
        ("walks", Simple("daunders")),
        ("walk", Simple("daunder")),
        ("walked", Simple("daundered")),
        ("walking", Simple("daunderin")),
        ("wall", Simple("dyke")),
        ("want", Simple("waant")),
        ("water", Simple("watter")),
        ("way", Simple("wey")),
        ("warden", Simple("screw")),
        ("well", Simple("weel")),
        ("were", Simple("war")),
        ("west", Simple("wast")),
        ("what", Simple("whit")),
        ("whatever", Simple("whitevur")),
        ("when", Simple("whin")),
        ("where", Simple("whaur")),
        ("whether", Simple("whither")),
        ("which", Simple("whilk")),
        ("who", Simple("wha")),
        ("whole", Simple("hail")),
        ("whom", Simple("wham")),
        ("whose", Simple("wha`s")),
        ("wife", Simple("guidwife")),
        ("wives", Simple("guidwives")),
        ("wind", Simple("win`")),
        ("window", Simple("windae")),
        ("windows", Simple("windaes")),
        ("with", Simple("wi`")),
        ("within", Simple("wi`in")),
        ("without", Simple("wi`oot")),
        ("woman", Simple("wifie")),
        ("women", Simple("wummin")),
        ("work", Simple("wirk")),
        ("words", Simple("wurds")),
        ("world", Simple("warl")),
        ("worldly", Simple("war'ly")),
        ("working", Simple("wirkin")),
        ("would", Simple("wid")),
        ("worse", Simple("waur")),
        ("ruined", Simple("clapped")),
        ("wrong", Simple("wrang")),
        ("yard", Simple("yaird")),
        ("yeah", Simple("aye")),
        ("True", Any([
            Simple("aye"),
            Simple("oan"),
        ])),
        ("yet", Simple("yit")),
        ("you", Simple("ye")),
        ("your", Simple("yer")),
        ("youre", Simple("yer'r")),
        ("yourself", Simple("yersel`")),
        ("quiet", Simple("cannie")),
        ("i", Simple("a")),
        ("ive", Simple("a've")),
        ("im", Simple("a'm")),
        ("it", Simple("et")),
        ("shit", Simple("shite")),
        ("shitsec", Simple("shitesec")),
        ("alright", Simple("awricht")),
        ("crazy", Simple("doolally")),
        ("idiot", Any([
            Simple("eejit"),
            Simple("numpty"),
            Simple("mongo"),
            Simple("neep"),
        ])),
        ("idiots", Any([
            Simple("eejits"),
            Simple("numptys"),
            Simple("mongos"),
            Simple("neeps")
        ])),
        ("ugly", Simple("hackit")),
        ("tired", Simple("knackert")),
        ("gay", Simple("bufty")),
        ("testing", Simple("testin`")),
        ("fucking", Simple("fookin`,feckin")),
        ("mom", Any([
            Simple("maw"),
            Simple("mam"),
        ])),
        ("moms", Any([
            Simple("maws"),
            Simple("mams"),
        ])),
        ("throw", Simple("chuck")),
        ("throwing", Any([
            Simple("chuckin"),
            Simple("chuckin'"),
        ])),
        ("threw", Simple("chucked")),
        ("fucked", Any([
            Simple("fooked"),
            Simple("shagged"),
        ])),
        ("ass", Simple("arse")),
        ("asses", Simple("arses")),
        ("bothered", Simple("arsed")),
        ("dick", Simple("boaby")),
        ("dicks", Simple("boabys")),
        ("something", Simple("suhin")),
        ("somethings", Simple("suhins")),
        ("boys", Any([
            Simple("lads"),
            Simple("laddies"),
        ])),
        ("girls", Any([
            Simple("lasses"),
            Simple("lassies"),
            Simple("burds")
        ])),
    ],
    patterns: [
        (r"(?i)\bfuck", Simple("fook")),
        ("(?i)h?ou", Simple("oo")),
        ("ow", Simple("ou")),
        ("$", Weights([
            (2, Simple(" ye daft cunt")),
            (8, Noop),
        ])),
    ],
    severities: {
        1: Extend((
            patterns: [
                ("$", Weights([
                    (1, Simple(" ye daft cunt")),
                    (1, Noop),
                ])),
            ],
        )),
        2: Extend((
            patterns: [
                ("$", Simple(" ye daft cunt")),
            ],
        )),
    }
)
