(
    entities: {
        0: (
            components: {
                "bevy_asset::handle::Handle<bevy_render::mesh::mesh::Mesh>": (
                    id: "models/tilemap/doors.glb#Mesh0/Primitive0"
                )
            }
        )
    }
)
